@font-face {
    font-family: "IRANYekan-Regular";
    src: url('../fonts/IRANYekanXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url('../fonts/IRANYekanXFaNum-Bold.woff') format("woff");
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-family: "IRANYekan-Regular";
    user-select: none;
    overflow-x: hidden;
}

.font-bold {
    font-family: "IRANYekan-Bold";
}

a {
    cursor: pointer;
    text-decoration: none;
}

.outline-none {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}

/* object fit */
.object-cover {
    object-fit: cover;
}

/* overflow */
.overflow-x-hidden {
    overflow-x: hidden;
}

/* border-radius */
.rounded-3 {
    border-radius: 3px;
}

.rounded-5 {
    border-radius: 5px;
}

.rounded-t-5{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rounded-9 {
    border-radius: 9px;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-14 {
    border-radius: 14px;
}

.rounded-18 {
    border-radius: 18px;
}

.rounded-t-20 {
    border-radius: 20px 20px 0 0;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-b-21{
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

.rounded-22 {
    border-radius: 22px;
}

.rounded-23 {
    border-radius: 23px;
}

.rounded-25 {
    border-radius: 25px;
}

.rounded-b-26 {
    border-radius: 0 0 26px 26px;
}

.rounded-l-26 {
    border-radius: 26px 0 0 26px;
}

.rounded-27 {
    border-radius: 27px;
}

.rounded-29 {
    border-radius: 29px;
}

.rounded-30 {
    border-radius: 30px;
}

.rounded-33 {
    border-radius: 33px;
}

.rounded-t-33 {
    border-radius: 33px 33px 0 0;
}

.rounded-t-42 {
    border-radius: 42px 42px 0 0;
}

/* z index */
.-z-1 {
    z-index: -1;
}

.z-0 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

/* padding */
.pb-26 {
    padding-bottom: 26px;
}

.py-13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.py-27 {
    padding-top: 27px;
    padding-bottom: 27px;
}

.py-33 {
    padding-top: 33px;
    padding-bottom: 33px;
}

.px-19 {
    padding-left: 19px;
    padding-right: 19px;
}

.px-28 {
    padding-left: 28px;
    padding-right: 28px;
}

/* color */
.text-main {
    color: #27817A;
}

.text-second{
    color: #4834AC;
}

.text-second2{
    color: #1E2D48;
}

.text-gray {
    color: #8e95a3;
}

.text-gray2{
    color: #bbbbbb;
}

/* border */
.border-dash-r-2 {
    border-right: 2px dashed lightgray;
}
.border-second-5{
    border: 5px solid #27817A;
}

/* box shadow */
.shadow1 {
    box-shadow: 0px 0px 26.399999618530273px 0px #00000040;
}

.shadow2 {
    box-shadow: 0px 0px 43.01886749267578px 0px #0000001A;
}

.shadow3 {
    box-shadow: 0px 0px 151px 0px #27817A80;
}

.shadow4 {
    box-shadow: 0px 0px 44px 11px lightgray;
}

.shadow5{
    box-shadow: 0px -4px 53px -15px #00000026;
}

.shadow6{
    box-shadow: 0px -4px 53px 0px #00000012;
}


/* top */

.-top-165 {
    top: -165px;
}

.-top-105 {
    top: -105px;
}

.-top-103 {
    top: -103px;
}

.-top-77 {
    top: -77px;
}

.-top-69 {
    top: -69px;
}

.-top-36 {
    top: -36px;
}

.top-34 {
    top: 34px;
}

.-top-33 {
    top: -32.5px;
}

.-top-30 {
    top: -30px;
}

.-top-27 {
    top: -27px;
}

.-top-16 {
    top: -16px;
}

/* bottom */
.-bottom-210 {
    bottom: -210px;
}

.-bottom-53 {
    bottom: -53px;
}

.-bottom-39 {
    bottom: -39px;
}

.-bottom-23 {
    bottom: -23px;
}

.bottom-8 {
    bottom: -8px;
}

.bottom-9 {
    bottom: 9px;
}

.bottom-34{
    bottom: 34px;
}

.bottom-130 {
    bottom: 130px;
}

/* right */
.right-0{
    right: 0;
}
.-right-40 {
    right: -40px;
}

.-right-8 {
    right: -8px;
}

.-right-1 {
    right: -1px;
}

.right-31 {
    right: 31px;
}

.right-159 {
    right: 159px;
}

/* left */
.left-0{
    left: 0;
}

.left-14{
    left: 14px;
}

.left-34{
    left: 34px;
}

.left-100 {
    left: 100px;
}

/* line height */
.lh-42 {
    line-height: 42px;
}

/* background */

.bg-gradient-main {
    background: linear-gradient(74.18deg, #5B6CCC 2.59%, #4834AC 100%);
}

.bg-gradient-main2 {
    background: linear-gradient(74.18deg, #5B6CCC 2.59%, #4834AC 100%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
}

.bg-main2 {
    background-color: #ABB0E3;
}

.bg-second {
    background: #d2e4e3;
}

.bg-second2 {
    background-color: #27817A;
}

.bg-gray {
    background-color: #ECECEC;
}

.bg-gray2 {
    background-color: #f5f5f5;
}

.bg-gray3 {
    background-color: #ededed;
}

.bg-white-transparent {
    background: #FFFFFF24;
}

.bg-blur {
    background: #ffffffbd;
    backdrop-filter: blur(11px);
}

/* font size */
.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

/* max width */
.max-w-507 {
    max-width: 507px;
    width: 100%;
}

/* width */
.w-22 {
    width: 22px;
}

.w-26 {
    width: 26px;
}

.w-30 {
    width: 30px;
}

.w-34 {
    width: 34px;
}

.w-36 {
    width: 36px;
}

.w-64 {
    width: 64px;
}

.w-76 {
    width: 76px;
}

.w-84 {
    width: 84px;
}

.w-92 {
    width: 92%;
}

.w-130 {
    width: 130px;
}

.w-133 {
    width: 133px;
}

.w-150 {
    width: 150px;
}

.w-190 {
    width: 190px;
}

.w-212 {
    width: 212px;
}
.w-232 {
    width: 232px;
}

.w-260 {
    width: 260px;
}

.w-269 {
    width: 269px;
}

.w-285 {
    width: 285px;
}

.w-316 {
    width: 316px;
}

.w-326 {
    width: 326px;
}

.w-362 {
    width: 362px;
}

.w-417 {
    width: 417px;
}

.w-452 {
    width: 452px;
}

/* height */

.h-8 {
    height: 8px;
}

.h-11 {
    height: 11px;
}

.h-15 {
    height: 15px;
}

.h-16 {
    height: 16px;
}

.h-22 {
    height: 22px;
}

.h-30 {
    height: 30px;
}

.h-32 {
    height: 32px;
}

.h-34 {
    height: 34px;
}

.h-49 {
    height: 49px;
}

.h-52 {
    height: 52px;
}

.h-65 {
    height: 65px;
}

.h-68 {
    height: 68px;
}

.h-76 {
    height: 76px;
}

.h-97 {
    height: 97px;
}

.h-158 {
    height: 158px;
}

.h-172 {
    height: 172px;
}

.h-184 {
    height: 184px;
}

.h-237 {
    height: 237px;
}

.h-326 {
    height: 326px;
}

.h-400 {
    height: 400px;
}

.h-413 {
    height: 413px;
}

.h-418 {
    height: 418px;
}

.h-450 {
    height: 450px;
}

.h-486 {
    height: 486px;
}

/* font weight */
.fw-300 {
    font-weight: 300;
}

.fw-medium {
    font-weight: 600;
}

/* margin top */
.-mt-12{
    margin-top: -12px;
}

.mt-112 {
    margin-top: 112px;
}

.mt-167 {
    margin-top: 167px;
}

.mt-204 {
    margin-top: 204px;
}

.mt-245 {
    margin-top: 245px;
}

.mt-305 {
    margin-top: 305px;
}

/* margin top */

.mb-235 {
    margin-bottom: 235px;
}

/* transform */
.transform1{
    transform: scale(1.16) translateY(4px) translateX(22px);
}

.-rotate-6 {
    transform: rotate(-6deg);
}

.rotate-6 {
    transform: rotate(6deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-90-translate-y-39 {
    transform: rotate(90deg)translateY(-39px);
}

.scale-y-17 {
    transform: scaleY(1.17);
    ;
}

/* global styles */
.swiper-pagination-bullet-active,
.swiper-pagination3.swiper-pagination-bullet-active {
    background: linear-gradient(74.18deg, #5B6CCC 2.59%, #4834AC 100%);
    width: 33px !important;
    height: 6px;
    border-radius: 60px;
}

.swiper-pagination-bullet,
.swiper-pagination3.swiper-pagination-bullet-active {
    width: 10px;
    height: 6px;
    border-radius: 60px;
}

.swiper-pagination3 {
    left: auto;
    position: absolute;
    right: -216px;
    width: 86px !important;
    top: 334px !important;
    height: 24px;
}

.swiper-button-prev::after,
.swiper-button-prev3::after {
    content: url('../img/arrow.png');
}

.swiper-button-prev {
    left: -29px;
    top: 136px;
}

.swiper-button-prev3 {
    position: absolute;
    left: auto;
    right: -37px;
    top: 328px;
    z-index: 10;
}

.swiper-button-next::after,
.swiper-button-next3::after {
    content: url('../img/arrow.png');
    transform: rotate(180deg);
}

.swiper-button-next {
    right: -29px;
    top: 136px;
}

.swiper-button-next3 {
    position: absolute;
    left: auto;
    right: -319px;
    top: 319px;
    transform: rotate(180deg);
    z-index: 10;
}

.swiper-pagination4 {
    position: absolute;
    left: 0 !important;
    right: 0;
    top: 394px !important;
    text-align: center;
}

.swiper-pagination-bullet-active,
.swiper-pagination4.swiper-pagination-bullet-active {
    background: linear-gradient(74.18deg, #27817A 2.59%, #27817A 100%) !important;
}

#contactModal .modal-dialog {
  max-width: 800px;
}

#contactModal .modal-content {
    height: 354px;
  }

/* header */
.bg-header1 {
    background-image: url('../img/bg-header1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-header2 {
    background-image: url('../img/bg-header2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown1>li a {
    transition: all .4s;
}

.dropdown1>li:hover a,
.dropdown1>li.active a {
    color: black !important;
}

.dropdown2>li {
    display: none;
}

.dropdown2>li.active {
    display: flex;
}

.dropdowns {
    max-height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    transition: all .5s;
}

.dropdowns.active {
    max-height: 2000px;
    margin-bottom: 26px !important;
    overflow: visible;
}

.dropdown1::before {
    right: 326px;
    top: -6px !important;
}

.dropdown2>li:first-child::before {
    right: 9px;
    top: -31px !important;
}

.dropdown2>li:nth-child(2):before {
    right: 130px;
    top: -31px !important;
}

.dropdown2>li:nth-child(3):before {
    right: 224px;
    top: -31px !important;
}

.dropdown2>li:nth-child(4):before {
    right: 323px;
    top: -31px !important;
}

.dropdown2>li:nth-child(5):before {
    right: 465px;
    top: -31px !important;
}

.dropdown2>li:nth-child(6):before {
    right: 587px;
    top: -31px !important;
}

.dropdown2>li:nth-child(7):before {
    right: 687px;
    top: -31px !important;
}

.dropdown2>li:nth-child(8):before {
    right: 798px;
    top: -31px !important;
}

.dropdown2>li:nth-child(9):before {
    right: 893px;
    top: -31px !important;
}

.dropdown-toggle::after {
    content: url('../img/Vector.svg');
    border-top: 0;
}

.dropdown-menu{
    inset: 6px -30px auto 0px!important;
}

.dropdown-menu::before{
    left: 111px!important;
  top: -7px!important;
  z-index: -1;
}

.dropdown-item:active{
    background-color: transparent;
}

/* banner */
#banner {
    background-image: url('../img/swiper-shape.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* contact icons */
.contact-hover::after,
.dropdown1::before,
.dropdown2>li:first-child::before,
.dropdown2>li:nth-child(2):before,
.dropdown2>li:nth-child(3):before,
.dropdown2>li:nth-child(4):before,
.dropdown2>li:nth-child(5):before,
.dropdown2>li:nth-child(6):before,
.dropdown2>li:nth-child(7):before,
.dropdown2>li:nth-child(8):before,
.dropdown2>li:nth-child(9):before,
.dropdown-menu::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    content: "";
    width: 18px;
    height: 18px;
    left: 23px;
    top: 39px;
    border-radius: 5px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
}

.phoneIcon:hover span {
    display: flex !important;
}

/* login page */
.loginContent {
    height: 100vh;
}


@media only screen and (max-width:1400px) {
    .dropdown1::before {
        right: 246px;
    }

    .dropdown2>li:nth-child(2)::before {
        right: 110px;
    }

    .dropdown2>li:nth-child(3)::before {
        right: 179px;
    }

    .dropdown2>li:nth-child(4)::before {
        right: 261px;
    }

    .dropdown2>li:nth-child(5)::before {
        right: 378px;
    }

    .dropdown2>li:nth-child(6)::before {
        right: 478px;
    }

    .dropdown2>li:nth-child(7)::before {
        right: 558px;
    }

    .dropdown2>li:nth-child(8)::before {
        right: 642px;
    }

    .dropdown2>li:nth-child(9)::before {
        right: 732px;
    }
}

@media only screen and (max-width:1200px) {

    header .position-sm-static {
        position: static !important;
    }

    header .w-92 {
        width: auto;
    }

    .dropdown1::before {
        right: 225px;
    }

    #mobileMenu::before {
        content: '';
        position: absolute;
        background: #f9f9f9;
        content: "";
        width: 25px;
        height: 25px;
        right: 50px;
        top: -10px;
        border-radius: 5px;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
    }

    #mobileMenu {
        border: 1px solid #00000026;
        padding: 21px 0;
        top: 137px;
        background: #fffffff2;
        backdrop-filter: blur(26px);
        z-index: 29;
        display: none;
    }

    #mobileMenu.active {
        display: block !important;
    }

    .accordionBtn .bi-chevron-up {
        transition: all .4s;
    }

    .accordionBtn .bi-chevron-up.active {
        transform: rotate(180deg);
    }

    .accordionContent {
        transition: all .4s;
        max-height: 0;
        overflow: hidden;
    }

    .accordionContent.active {
        max-height: 2000px;
    }

    #contact {
        margin-top: 450px;
    }

    #contact .w-md-100 {
        width: 98%;
    }

    #contact .h-md-143 {
        height: 143px;
    }

    #contact .rounded-md-42 {
        border-radius: 42px;
    }

    #contact .contactHeading {
        left: -40px !important;
        right: -40px !important;
        z-index: 2;
        top: -83px;
    }

    #contact .contactShape {
        width: 90%;
        height: 35px;
        border-radius: 0 0 26px 26px;
    }

    #contact .translate-x-md-90 {
        transform: rotate(90deg)translateX(-49px);
    }

    #contact .-top-165 {
        top: -370px;
    }

    #customer {
        margin-top: 0;
    }

    #shoar {
        margin-top: 476px;
    }

    #shoar .h-172 {
        height: auto;
    }

    #shoar .h-sm-148 {
        height: 148px;
    }

    #shoar .-top-36 {
        top: -330px;
    }
    footer .footerMobileMenu svg path{
        fill: #ffffffbd;
    }
}

@media only screen and (max-width:992px) {
    header .py-27 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    header .px-28 {
        padding-left: 30px;
        padding-right: 30px;
    }

    #services .h-486 {
        height: auto;
    }

    #about {
        margin-top: 501px;
    }

    #about .col-lg-5 {
        z-index: -1;
        height: 0;
    }

    #about .-top-77 {
        top: -332px;
    }

    #about .aboutDescription,
    #contact .contactDescription {
        font-size: 14px;
        text-align: justify;
    }

    #about .fs-22 {
        font-size: 16px;
    }

    #about p.text-gray {
        font-size: 12px;
    }

    #contact .rounded-md-42 {
        border-radius: 32px;
    }

    #contact .contactHeading {
        left: -24px !important;
        right: -24px !important;
    }

    #contact .w-sm-100 {
        width: 100%;
    }

    .checkout.w-362{
        width: 100%;
    }

    .loginContent {
       height: auto;
    }

    footer {
        margin-bottom: 193px !important;
    }

    footer .copyRight2 {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {

    #mobileMenu::before {
        right: 33px;
    }

    .swiper-pagination-bullet-active,
    .swiper-pagination3.swiper-pagination-bullet-active {
        width: 18px !important;
        height: 4px;
        border-radius: 60px;
    }

    .swiper-pagination-bullet,
    .swiper-pagination3.swiper-pagination-bullet-active {
        width: 6px;
        height: 3px;
        border-radius: 60px;
    }

    .category .shadow2 {
        box-shadow: 0px 0px 27.728553771972656px 0px #0000001A;
    }

    .category .catTitle {
        font-size: 10px;
    }

    .category .catNum {
        font-size: 12px;
        padding-top: 29px !important;
    }

    #services .w-285 {
        width: 243px;
    }

    #services .w-316 {
        width: 268px;
    }

    .customer .swiper-slide {
        width: 237px !important;
    }

    .customer p.text-secondary {
        font-size: 12px;
    }
}

@media only screen and (max-width:576px) {
    #about .-top-77 {
        top: -296px;
    }
}

@media only screen and (max-width:400px) {}